*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    font-family: Poppins;
}
html{
    scroll-behavior: smooth;
}
:root{
    --gray: rgba(128, 128, 128, 0.701);
    --light-gray: rgba(128, 128, 128, 0.245);
}

/* Common Classes */
.flex{
    display: flex;
}
.justify-content{
    justify-content: center;
}
.align-items{
    align-items: center;
}
section{
    min-height: calc(100vh - 51px);
    width: 100%;
}
.sec-title{
    font-size: 36px;
    padding-top: 12px;
    text-align: center;
}
.col{
    flex-direction: column;
}

/* Navbar */
.navbar{
    padding: 10px 25px;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid var(--gray);
}
.nav-left span{
    font-size: 20px;
    font-weight: 900;
}
.nav-right ul{
    list-style: none;
    display: inline-flex;
    gap: 18px;
}

/* Hero Section */
#hero{
    justify-content: space-around;
    flex-wrap: wrap;
}
.hero-intro{
    font-size: 20px;
}
.hero-title{
    font-size: 42px;
    line-height: 46px;
}
.hero-desc{
    font-size: 16px;
    color: var(--gray);
}
.hero-btn{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: inherit;
}
.btn-project{
    color: white;
    background-color: #252525;
}
.btn-contact{
    border: 1px solid var(--gray);
    background-color: white;
}
.hero-left{
    width: 40%;
}
.hero-right{
    width: 60%;
    flex-direction: column;
    gap: 8px;
}

/* Responsive */
@media (max-width: 640px) {
    .nav-right{
        display: none;
    }
    #hero{
        min-height: auto;
    }
    .hero-left,.hero-right{
        width: 100%;
    }
    .hero-left{
        padding: 3rem 0;
    }
    .hero-right{
        align-items: center;
        padding: 3rem 1rem;
        text-align: center;
    }
}